*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: mediumseagreen;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todoWrapper{
    width: 700px;
    padding: 20px;
    background: forestgreen;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-list{
    margin: 10px 0;
    padding: 10px;
    width: 400px;
    border: none;
    background: rgb(161, 240, 161);
    outline: 0;
    color: black;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
    border: 3px solid darkgreen;
    background: blurred transparent;
}

.todo-btn{
    padding: 16px 20px 12px;
    background: darkgreen;
    color: white;
    border: none;
    outline: 0;
    color: white;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    margin-left: 0px;
    border: 1px solid darkgreen;
}

.task{
    width: 500px;
    margin-bottom: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: mediumseagreen;
    padding: 10px 30px;
    border-radius: 5px;
    font-style: bold;
}

.delete-btn ,.edit-btn{
    color: white;
    font-weight: bold;
    background: darkgreen;
    border: none;
    outline: 0;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.delete-logo , .edit-logo{
    width: 20px;
    height: 20px;
    fill: white;
}

.completed{
    text-decoration: line-through;
}

p{
    cursor: pointer;
}
